.postDiv {
    margin: 10px 0;
    padding: 10px;
    text-align: center;

}
.form {
    display: flex;
    flex-direction: column;
}
input {
    margin: 10px;
    padding: 15px;
}
.btn {
    padding: 10px;
    width: 100px;
    margin-left: 45%;
}