.App {
    width: 700px;
    border: 2px solid dimgrey;
    margin: 50px;

}
.top {
    height: 50px;
    background-color: lightblue;
}
.MessBox {
    border: 2px solid dimgrey;
    margin: 10px;
    padding: 20px;
    text-align: left;
}